name: Examples

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [ opened, synchronize, reopened ]
  workflow_dispatch:  # Allow manual triggering

env:
  CLANG_TIDY_VERSION: "18.1.8"
  VERBOSE: 1

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false

      # Set up a matrix to run the following configurations:
      # 1. <Windows, Release, latest MSVC compiler toolchain on the default runner image, default generator>
      # 2. <Linux x64, Release, latest GCC compiler toolchain on the default runner image, default generator>
      # 3. <Linux x64, Release, latest Clang compiler toolchain on the default runner image, default generator>
      # 4. <Linux ARM64, Release, GCC compiler on ARM runner>
      # 5. <Linux ARM64, Release, Clang compiler on ARM runner>
      # 6. <Linux ARM32, Release, cross-compiled with GCC on ARM runner>
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
        cpp_compiler:
          - g++
          - clang++
          - cl
        build_type:
          - Release
        cmake_flags: [""]
        include:
          - os: ubuntu-24.04-arm
            cpp_compiler: arm-linux-gnueabihf-g++
            build_type: Release
            cmake_flags: "-DCMAKE_CROSSCOMPILING_EMULATOR=qemu-arm"
        exclude:
          - os: windows-latest
            cpp_compiler: g++
          - os: windows-latest
            cpp_compiler: clang++
          - os: ubuntu-latest
            cpp_compiler: cl
          - os: ubuntu-24.04-arm
            cpp_compiler: cl

    steps:
    - uses: actions/checkout@v4

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"

    - name: Install ARM 32-bit toolchain and runtime
      if: matrix.cpp_compiler == 'arm-linux-gnueabihf-g++'
      run: |
        sudo dpkg --add-architecture armhf
        sudo apt-get update
        sudo apt-get install -y gcc-arm-linux-gnueabihf g++-arm-linux-gnueabihf qemu-user libc6-armhf-cross libstdc++6-armhf-cross

    - name: Configure CMake
      run: >
        cmake -B ${{ steps.strings.outputs.build-output-dir }}
        -DCMAKE_CXX_COMPILER=${{ matrix.cpp_compiler }}
        -DCMAKE_CXX_STANDARD=11
        -DCMAKE_CXX_STANDARD_REQUIRED=True
        -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
        ${{ matrix.cmake_flags }}
        -S ${{ github.workspace }}

    - name: Build
      run: cmake --build ${{ steps.strings.outputs.build-output-dir }} --config ${{ matrix.build_type }} --target ZipViewExamples --parallel

    - name: Test
      if: runner.os != 'Windows' && matrix.cpp_compiler != 'arm-linux-gnueabihf-g++'
      run: ${{ steps.strings.outputs.build-output-dir }}/examples/ZipViewExamples

    - name: Test (Cross-compile)
      if: matrix.cpp_compiler == 'arm-linux-gnueabihf-g++'
      run: qemu-arm ${{ steps.strings.outputs.build-output-dir }}/examples/ZipViewExamples
      env:
        QEMU_LD_PREFIX: /usr/arm-linux-gnueabihf

    - name: Test (Windows)
      if: runner.os == 'Windows'
      shell: pwsh
      run: '& "${{ steps.strings.outputs.build-output-dir }}/examples/ZipViewExamples.exe"'
